  * {
    box-sizing: border-box;
  }
  .container {
  
   border:solid;
  
   border-color: rgb(163, 163, 160);
  
    padding: 30px;
    background-color: bisque;

}

#form{
    margin-top: 9%;
  }
  
